html {
    scroll-behavior: smooth;
    color: white;
    user-select: none;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #1c1c1c;
    margin: 5rem;
    margin-top: 0;
    font-size: 0.7rem;
}
a{
    text-decoration: none;
    color: white;
}
.designHeader{
    padding: 2dvw;
    display: flex;
    height: 10vh;
    max-height: 1rem;
    position: sticky;
    top: 0;
}
header{
    display: flex;
    height: 10vh;
}
#ab{
    display: flex;
    justify-content: right;
}
.letrasTop{
    margin-left: 15px;
}
.fift{
    width: 50%;
    margin: 2vw;
}
#main{
    display: flex;
    height: 100%;
}
#nombre{
    font-size: 3rem;
    font-weight: 800;
}
#sobre{
    font-size: 1rem;
    font-weight: 300;
}
#sobre a:hover{
    transition: 0.5s;
    transform: translate(0, -5px);
}
img{
    width: 40vw;
}
@media screen and (max-width: 850px){
    .fift{
        margin: 0;
        width: 100%;
    }
    #main{
        width:  100vw;
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
        justify-content: space-between;
        justify-content: center;
    }
    #nombre{
        font-size: 2rem;
        padding: 2vw;
    }
    #sobre{
        font-size: 1rem;
        padding: 2vw;
    }
    img{
        width: 80vw;
    }
    #fotomia{
        padding: 0;
        display: flex;
        justify-content: center;
    }
    #more{
        display: none;
    }
    #top{
        display: flex;
        justify-content: center;
    }
}



