html {
    scroll-behavior: smooth;
    color: white;
    user-select: none;
    display: flex;
    justify-content: center;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #1c1c1c;
    margin: 0;
    font-size: 0.7rem;
    max-width: 1980px;
}
a{
    text-decoration: none; 
    color: white;
}
.hidden{
    overflow: hidden;
}
#preload{
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 1rem;
    font-size: 3rem;
    font-weight: 800;
    transition: 0.5s;
}
#preload div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.designHeader{
    padding: 2dvw;
    display: flex;
    height: 10vh;
    max-height: 1rem;
    position: sticky;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0,0,0,0));
}
.fift{
    width: 50%;
}
#lenguaje{
    font-weight: 800;
    font-size: 1.2rem;
}
#ab{
    display: flex;
    justify-content: right;
}
.letrasTop{
    margin-left: 15px;
}
.main{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

#topp{
    position: relative;
    z-index: -1;
}
#topp::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,0.6));
}
#topp img{
    width: 100%;
    display: block;
}
#topp h1{
    position: absolute;
    bottom: 0;
    margin-left: 1.5rem;
    font-size: 3rem;
}
.post{
    display: flex;
}
.post a{
    margin: 0;
}
#centro{
    margin: 5dvw;
}
#fotopost{
    width: 100%;
}
#titulo{
    justify-content: left;
    font-size: 4rem;
}
#descripcion{
    width: 50%;
    font-size: 1rem;
    left: 0;
    font-weight: 300;
    margin-right: 1rem;
}
#titulo2{
    justify-content: left;
    font-size: 2rem;
    font-weight: 600;
}
#notfound{
    font-size: 10rem;
    font-weight: 800;
}
footer{
    display: flex;
    justify-content: center;
    background-color: rgb(24, 24, 24);
}
#more{
    padding-top: 5vw;
    padding-bottom: 5vw;
    font-size: 5rem;
    transition: 0.5s;
    font-weight: 800;
}
#more:hover{
    transform: scale(1.1);
}
#ab a:hover{
    transition: 0.5s;
    transform: translate(0, -5px);
}
#disclaimer{
    margin-top: 2rem;
}
#disclaimer p{
    font-size: 0.7rem;
    color: rgb(184, 184, 184);
    font-weight: 300;
    margin: 0;
}
#descripcionContenedor{
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
#inglesDivisor{
    display: none;
}
#foto.active{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    top: 0;
    left: 0;
    
}
#foto.active img{
    width: 50%;
}
#foto.active::after{
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: -1;
}
@media screen and (max-width: 900px){
    .main{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    #titulo{
        font-size: 45px;
        padding: 3dvw;
    }
    #titulo2{
        padding: 1rem;
        font-size: 1.5rem;
    }
    #descripcion{
        width: 100%;
    }
    #descripcionContenedor{
        display: block;
        width: 100%;
        padding: 1rem;
    }
    .post a{
        margin: 1rem;
    }

    #centro{
        margin: 0;
    }
    #more{
        font-size: 3rem;
    }
    #tituloCentrado{
        font-size: 2rem;
    }
    #preload{
        font-size: 2rem;
    }
    #lenguaje{
        display: none;
    }
    #inglesDivisor{
        display: block;
    }
    #disclaimer p{
        margin: 1rem;
    }
}
@media screen and (max-width: 500px){
    .designHeader{
        display: none;
    }
    #preload{
        font-size: 1rem;
    }
    #top h1{
        font-size: 1.5rem;
    }
    #more{
        font-size: 2rem;
    }
    #topp h1{
        font-size: 2rem;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media (prefers-color-scheme: light){
    body{
        background-color: #E2E2DE;
        color: #1c1c1c;
    }
    a {
        color: #1c1c1c;
    }
    #topp, #mainName, .letrasTop, #more{
        color: #E2E2DE;
    }

}


.post{
    z-index: -1;
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 10% cover 40%;
    animation-fill-mode: both;
}