html {
    scroll-behavior: smooth;
    color: white;
    user-select: none;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    background-color: #1c1c1c;
    margin: 5rem;
    margin-top: 0;
}
header{
    display: flex;
    height: 10vh;
    max-height: 1rem;
}
#ab{
    display: flex;
    justify-content: right;
    
}
.mainPostFoto{
    justify-content: center;
}
#ab a:hover{
    transition: 0.5s;
    transform: translate(0, -5px);
}
.letrasTop{
    margin-left: 15px;
}
footer{
    height: 1rem;
    display: flex;
    font-size: 0.7rem;
}
footer div{
    display: flex;
    justify-content: space-between;
}
footer a:hover{
    transition: 0.5s;
    transform: translate(2%);
}

#leftTop{
    padding: 5px;
}
#izq{
    display: flex;
    justify-content: right;
}
.vei{
    width: 25%;
    display: flex;
}

.fift{
    width: 50%;
    margin: 10px;
}
#Numero{
    margin: 10px;
    font-size: 3rem;
    font-weight: 800;
}
#NumeroPst{
    position: sticky;
    display: flex;
    top: 0;
}

.encabezado{
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0,0,0,0));
    position: sticky;
    display: flex;
    top: 0;
    border-top: 1px solid white;
    font-size: 0.8rem;
    padding: 2px;
}
#foto{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50vw;
    transition: 0.5s;
    object-fit: cover;
    width: 100%;
}
.post{
    display: flex;
}
#buttonBotton{
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: white;
    transition: 0.5s;
}
#buttonBotton img{
    display: flex;
    justify-content: center;
    height: 2vw;
}
#fecha{
    display: flex;
    justify-content: right;
    margin: 10px;
}
#name{
    font-size: 3rem;
    justify-content: left;
    font-weight: 800;
}
#texto{
    font-size: 7rem;
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-weight: 800;
}

.designHeader{
    padding: 2dvw;
    display: flex;
    height: 10vh;
    max-height: 1rem;
    position: sticky;
    top: 0;
}
.headerMain{
    padding: 2dvw;
}
a{
    text-decoration: none;
    color: white;
}

#seccionPost{
    display: flex;
    border-top: 1px solid white;
}
#info{
    position: sticky;
    top: 7.5dvw;
    font-size: 2rem;
    font-weight: 800;
}
#info h2{
    padding: 0;
    font-size: 1rem;
    font-weight: 300;
}
#fotoSeccion{
    width: 100%;
    transition: 0.5s;
    object-fit: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#fotoSeccion:hover{
    transform: translate(0, -2px);
}
#foto:hover{
    transform: translate(-5px, 0);
}
.textoHome{
    transition: 0.5s;
}
.textoHome:hover{
    transform: translate(2%);
}
#fechaPst{
    padding: 10px;
    display: flex;
    align-items: end;
    padding-bottom: 20%;
    font-size: 0.9rem;
}
#seccionArreglo{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 850px){
    body{
        
        margin: 0;
    }
    .post{
        
        display: block;
    }
    #texto{
        font-size: 3rem;
    }
    #seccionPost{
        flex-direction: column;
        justify-content: space-between;
        justify-content: center;
        margin: 0;
        padding: 0;
        border-top: 0px;
    }
    #seccionArreglo{
        width: 100%;
    }
    #foto{
        margin: 0;
        padding: 0;
        max-width:  100%;
    }
    .fift{
        width: 100%;
        margin: 0;
        display: block;
    }
    .vei{
        width: 100%;
    }
    #namePost{
        display: flex;
        justify-content: center;
    }
    #fotoSeccion{
        width: 100vw;
    }
    #buttonBotton img{
        height: 20px;
    }
    #fechaPst{
        padding-bottom: 10px;
    }
    .encabezado{
        font-size: 0.7rem;
    }
    #info{
        padding: 10px;
    }
    footer{
        display: block;
    }
    #Numero{
        display: none;
    }
    #name{
        margin: 1rem;
        font-size: 1.9rem;
    }
    .headerMain{
        display: none;
    }
    .textoHome{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    
}
@media screen and (max-width: 500px){
    .designHeader{
        display: none;
    }
    #texto{
        font-size: 1.7rem;
    }
    hr{
        display: none;
    }
    .encabezado{
        display: none;
    }
}

@keyframes show {
    from {
        opacity: 0;
        transform: translate(-2rem, 0);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

img {
    z-index: -1;
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 10% cover 40%;
    animation-fill-mode: both;
}
p {
    z-index: -1;
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 10% cover 40%;
    animation-fill-mode: both;
}