body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: black;
    color: white;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
.designHeader{
    display: flex;
    position: sticky;
    top: 0;
    padding: 2dvw;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0,0,0,0));
}
.fift{
    width: 50%;
}
#ab{
    display: flex;
    justify-content: right;
}
#mainName{
    font-size: 15px;
}
.letrasTop{
    margin-left: 15px;
}
.main{
    padding: 3dvw;
    display: flex;
    flex-direction: column;
    width: 80dvw;
    justify-content: space-between;
}
.post{
    display: flex;
    justify-content: center;
}
#centro{
    display: flex;
    justify-content: center;
    margin: 5dvw;
}
#fotopost{
    width: 100%;
}
#titulo{
    justify-content: left;
    font-size: 4rem;
}
#descripcion{
    padding-bottom: 30px;
    font-size: 0.7rem;
    justify-content: left;
    width: 70%;
}
#titulo2{
    justify-content: left;
    font-size: 2.5dvw;
}
footer{
    display: flex;
    justify-content: center;
    background-color: rgb(24, 24, 24);
}
#more{
    padding-top: 5vw;
    padding-bottom: 5vw;
    font-size: 5rem;
    transition: 0.5s;
}
#more:hover{
    transform: scale(1.1);
}
#ab a:hover{
    transition: 0.5s;
    transform: translate(0, -5px);
}

#disclaimer h2{
    font-size: 0.7rem;
    color: rgb(184, 184, 184);
}
@media screen and (max-width: 850px){
    .main{
        width: 100dvw;
        padding: 0;
    }
    #titulo{
        font-size: 45px;
        padding: 3dvw;
    }
    #titulo2{
        padding: 3dvw;
    }
    #descripcion{
        font-size: 10px;
        padding: 3dvw;
        width: auto;
    }
    #disclaimer h2{
        padding: 3dvw;
    }
        
    

    #titulo2{
        font-size: 15px;
    }
    #centro{
        margin: 0;
    }
    #more{
        font-size: 3rem;
    }
}
@media screen and (max-width: 500px){
    .designHeader{
        display: none;
    }
}
