html {
    scroll-behavior: smooth;
    color: white;
    user-select: none;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #1c1c1c;
    margin: 5rem;
    margin-top: 0;
    font-size: 0.8rem;
}
#contenedorNombre{
    font-size: 3rem;
    margin: 1.2rem;
}
#lugar{
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
}
#noventa{
    width: 100%;
    display: flex;
}
#textoSobreMi{
    margin: 1.2rem;
    width: 70%;
    font-size: 2rem;
    font-weight: 600;
}
#redes{
    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 1.2rem;
}
a{
    text-decoration: none;
    color: white;
}
#segundo{
    display: flex;
}
#quehago{
    width: 20%;
    margin: 1.2rem;
}
.fif{
    width: 50%;
    margin: 1.2rem;
}
.fif a{
    font-size: 1.2rem;
    font-weight: 600;
}
#contenedorsegundo{
    width: 80%;

}
.conteMainSeg{
    display: flex;
    width: 100%;
}

#im{
    width: 100%;
}
.designHeader{
    padding: 2dvw;
    display: flex;
    height: 10vh;
    max-height: 1rem;
    position: sticky;
    top: 0;
}
header{
    margin-top: 0.2rem;
    font-size: 0.7rem;
    display: flex;
    height: 10vh;
    max-height: 1rem;
}
.fift{
    width: 50%;
}
#ab{
    display: flex;
    justify-content: right;
}
.letrasTop{
    margin-left: 15px;
}
#version{
    margin: 1rem;
    font-size: 0.6rem;
    color: #7e7e7e;
}
#nostaples{
    font-size: 0.8rem;
}

@media screen and (max-width: 900px){
    body{
        margin: 0;
    }
    #redes{
        display: none;
    }
    #textoSobreMi{
        width: 100%;
    }
    #quehago{
        display: none;
    }
    #contenedorsegundo{
        width: 100%;
    }

    #up1{
        display: none;
    }
}
@media screen and (max-width: 500px){
    .designHeader{
        display: none;
    }
    #contenedorNombre{
        font-size: 2rem;
    }
    #textoSobreMi{
        font-size: 1.5rem;
    }
    .conteMainSeg{
        display: block;
        margin: 0;
    }
    .fif{
        width: 100%;
    }
}
