body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: black;
    margin: 0;
    color: white;
    
}
a{
    text-decoration: none;
    color: white;
}
.designHeader{
    display: flex;
    position: sticky;
    top: 0;
    padding: 2dvw; 
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0,0,0,0));
}
header{
    display: flex;
    height: 10vh;
}
#ab{
    display: flex;
    justify-content: right;
}
.letrasTop{
    margin-left: 15px;
}
.fift{
    width: 50%;
    margin: 2vw;
}
#main{
    display: flex;
    margin-left: 10dvw;
    margin-right: 10dvw;
    height: 100%;
}
#nombre{
    font-size: 4vw;
}
#sobre{
    font-size: 2vw;
}
img{
    width: 40vw;
}
@media screen and (max-width: 850px){
    .fift{
        margin: 0;
        width: 100%;
    }
    #main{
        width:  100vw;
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
        justify-content: space-between;
        justify-content: center;
    }
    #nombre{
        font-size: 2rem;
        padding: 2vw;
    }
    #sobre{
        font-size: 1rem;
        padding: 2vw;
    }
    img{
        width: 80vw;
    }
    #fotomia{
        padding: 0;
        display: flex;
        justify-content: center;
    }
    #more{
        display: none;
    }
    #top{
        display: flex;
        justify-content: center;
    }
}