.protect-home-link{
    grid-column: span 6;
    mix-blend-mode: normal;
}
.protect-home-link img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: var(--mainGap);
}
.protect-home-link .nombre-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.protect-home-link .nombre-container div{
    padding: var(--mainGap);
    display: flex;
    align-items: center;
}
.protect-home-link .nombre-container #derecha{
    justify-content: right;
    font-weight: 400;
}
video{
    width: 100%;
    height: 300px;
    border-radius: var(--mainGap);
    object-fit: cover;
}
@media (width < 750px){
    .protect-home-link{
        grid-column: span 12
    }
    .nombre-container h2{
        margin: 0;
    }
    .protect-home-link .nombre-container div{
        padding: 0;
    }
    .protect-home-link .nombre-container{
        gap: var(--mainGap);
        margin: var(--mainGap);
    }
}