.SliderDiseño{
    min-width: fit-content;
    display: flex;
    white-space: nowrap;
}
.SliderDiseño span{
    text-transform: uppercase;
    font-size: 13dvw;
    margin: 0;
    width: 100dvw;
    animation: scroll-left 6s linear infinite;
}

@keyframes scroll-left {
    to{
        transform: translateX(-100%);
    }
}
@media (width > 1500px) {
    .SliderDiseño span{
        font-size: 14rem;
        width: 1500px;
    }
}