
.sectionPrimera{
    display: flex;
    justify-content: center;
    padding-top: 25rem;
    padding-bottom: 50rem;
}
.primerDiv{
    width: 50%;
}
.primerDiv h2{
    font-size: 3rem;
    width: 100%;
}
.imgContainer a{
    mix-blend-mode: normal;
}
.imgContainer img{
    width: 100%;
}
#tagContainer{
    display: flex;
    justify-content: right;
}
#tagContainer p{
    font-weight: 300;
    text-transform: uppercase;
}
#Sobre-mi{
    position: absolute;
}
.slider{
    padding-bottom: 12.5dvw;
}
.proyectosTodos{
    border-top: var(--blanco) solid 1px;
}
.proyectosTodos:hover h2{
    transform: translateX(-.5rem);
}
.proyectosTodos:hover p{
    transform: translateX(.5rem);
}
.proyectosTodos a{
    display: flex;
    transition: 0.5s;
    background-color: var(--negro);
    mix-blend-mode: normal;
}
.proyectosTodos:hover a{
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.proyectosTodos h2{
    width: 50%;
    font-size: 2.5rem;
    margin: 0;
    padding: 2rem;
    transition: 0.5s;
}
.proyectosTodos p{
    display: flex;
    width: 50%;
    font-size: 1rem;
    font-weight: 300;
    transition: 0.5s;
    align-items:center;
    margin: 0;
    padding: 2rem;
}
.proyectosTodos span{
    width: 100%;
    text-align: right;
}
#proyectos{
    padding-bottom: 5rem;
}
.presentacion{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--mainGap);
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.presentacion h1{
    font-size: 9.3dvw;
    text-transform: uppercase;
    margin: 0;
}
.proyectos-home{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--mainGap);
}
.contacto{
    margin-top: 3.5rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--mainGap);
    margin-bottom: 3.5rem;
}
.contacto img{
    width: 100%;
    grid-column: 3/6;
    border-radius: 1rem;
    height: 100%;
    object-fit: cover;
}
.contacto article{
    grid-column: 6/11;
}
.contacto article p{
   font-weight: 500;
}
.contacto article h3{
    font-size: 3rem;
    margin: 0;
}
.contacto article nav{
    display: grid;
    gap: var(--mainGap);
    grid-template-columns: repeat(
        auto-fit,
        minmax(100px, 1fr)
    );
}
.contacto article nav a{
    display: flex;
    padding: .5rem;
    border: 1px solid var(--blanco);
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width:1500px){
    
    .contact h3{
        font-size: 7rem;
    }
    .presentacion h1{
        font-size: 10rem;
    }
}
@media (width < 1500px){
    #sliderContainer p{
        font-size: 9.8rem;
    }
}
@media (width < 750px) {
    main section{
        padding: 1rem;
    }
    #tagContainer{
        display: none;
    }
    .proyectosTodos a{
        background-color: transparent;
    }
    .proyectosTodos h2{
        width: 100%;
        text-align: center;
        background-color: rgba(28, 28, 28, .7);
    }
    .proyectosTodos p{
        display: none;
    }

    .proyectosTodos:hover h2{
        color: var(--negro);
        background-color: rgba(28, 28, 28, 0);
    }
    .contacto img{
        width: 100%;
        grid-column: 3/11;
        border-radius: 1rem;
        height: 100%;
        object-fit: cover;
    }
    .contacto article{
        grid-column: 2/12;
    }
    .contacto article p{
       font-weight: 500;
    }
    .contacto article h3{
        font-size: 2.2rem;
    }
}