.mainTitle{
    display: flex;
    position: sticky;
    top: 3rem;
    padding-bottom: 25dvh;
    mix-blend-mode: difference;
    z-index: 2;
}
.mainTitle h1{
    width: 100%;
    font-size: 12.5dvw;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    z-index: 5;
}

.sectionPrimera{
    display: flex;
    justify-content: center;
    padding-top: 25rem;
    padding-bottom: 50rem;
}
.primerDiv{
    width: 50%;
}
.primerDiv h2{
    font-size: 3rem;
    width: 100%;
}
#tituloProyectosSeccion{
    width: 100%;
    height: 100dvh;
    position: sticky;
    top: 0;
    z-index: 1;
}
#tituloProyectosSeccion div{
    position: relative;
    top: 15%;
    width: 100%;
}
#tituloProyectosSeccion h2{
    text-transform: uppercase;
    font-size: 15dvw;
    margin: 0;
    text-align:  center;
    font-weight: 700;
    position: relative;
    z-index: 0;
}
.proyectCard{
    width: 100%;
    padding-bottom: 6rem;
    position: relative;
    z-index: 2;
}
#divCard{
    transition: .5s;
}
#divCard:hover{
    scale: 1.05;
    background-color: #1c1c1c;
}
.imgContainer a{
    mix-blend-mode: normal;
}
.imgContainer img{
    width: 100%;
}
.infoContainer{
    display: flex;
    padding: 1rem;
    
}
.infoContainer div{
    width: 50%;
    display: flex;
    mix-blend-mode: difference;
}
.infoContainer h3{
    font-size: 2rem;
    margin: 0;
}
#tagContainer{
    display: flex;
    justify-content: right;
}
#tagContainer p{
    font-weight: 300;
    text-transform: uppercase;
}
.tituloMain h1{
    text-transform: uppercase;
    font-size: 9.5dvw;
    margin: 0;
    padding-bottom: 5rem;
}
.tituloMain p{
    font-size: 2rem;
}
#titulo2{
    display: flex;
}
svg{
    width: 40px;
    height: 40px;
    fill: #DFDBCE;
    padding-right: 1rem;
    transition: .5s;
}
svg:hover {
    scale: 1.2;
}
#Sobre-mi{
    position: absolute;
    
}
.slider{
    padding-bottom: 12.5dvw;
}
#sliderContainer{
    position: relative;
    white-space: nowrap;
    background-color: #DFDBCE;
    
}
#sliderContainer p{
    position: relative;
    text-transform: uppercase;
    margin: 0px;
    color: #1c1c1c;
    font-size: 12.5dvw;
    font-weight: 800;
    padding-right: 50px;
    
}
#sliderContainer p:nth-of-type(2){
    position: absolute;
    left: 100%;
    top: 0;
}
.contact{
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
}
.contact h3{
    text-transform: uppercase;
    font-size: 5.5dvw;
    text-align: right;
    padding: 1rem;
    margin: 0;
    position: sticky;
    top: 2rem;
}
.contact h4{
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 1rem;
}
#imgperfil{
    width: 20%;
    padding-right: 1rem;
}
#imgperfilcontainer img{
    width: 100%;
}
#imgperfilcontainer{
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.proyectosTodos{
    border-top: #DFDBCE solid 1px;
}
.proyectosTodos:hover h2{
    color: #1c1c1c;
    transform: translateX(-.5rem);
    mix-blend-mode: difference;
}
.proyectosTodos:hover p{
    transform: translateX(.5rem);
    color: #1c1c1c;
    mix-blend-mode: difference;
}
.proyectosTodos a{
    display: flex;
    transition: 0.5s;
    background-color: #1c1c1c;
    mix-blend-mode: normal;
}
.proyectosTodos:hover a{
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: transparent;
}
.proyectosTodos h2{
    width: 50%;
    font-size: 2.5rem;
    margin: 0;
    padding: 2rem;
    transition: 0.5s;
}
.proyectosTodos p{
    display: flex;
    width: 50%;
    font-size: 1rem;
    font-weight: 300;
    transition: 0.5s;
    align-items:center;
    margin: 0;
    padding: 2rem;
}
.proyectosTodos span{
    width: 100%;
    text-align: right;
}
#nombre{
    font-weight: 500;
}
#contactame{
    width: 40%;
    max-width: 500px;
}
.proyectCard .derecha{
    width: 60%;
}
.proyectCard .izq{
    width: 50%;
}
.contact .titulo{
    width: 40%;
    padding: 1rem;
}
#textoContacto{
    width: 70%;
}
#textoContacto p{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
}
.contactTextContainer{
    width: 60%;
    padding: 1rem;
}
#proyectos{
    padding-bottom: 5rem;
}
@media screen and (min-width: 1500px){
    .mainTitle h1{
        font-size: 14.6rem;
    }
    #sliderContainer p{
        font-size: 9.8rem;
    }
    .contact h3{
        font-size: 7rem;
    }
}
@media screen and (max-width: 750px) {
    #nombre{
        font-size: 1rem;
    }
    main section{
        padding: 1rem;
    }
    #contactame{
        width: 100%;
        font-size: 1.5rem;
        font-weight: 500;
    }
    .proyectCard .derecha{
        width: 100%;
    }
    .proyectCard .izq{
        width: 100%;
    }
    .infoContainer div{
        width: 100%;
    }
    .infoContainer h3{
        width: 100%;
        text-align: center;
        font-size: 1.8rem;
    }
    #tagContainer{
        display: none;
    }
    .contact{
        display: block;
    }
    .contact h3{
        text-transform: uppercase;
        font-size: 10dvw;
        text-align: center;
        padding: 1rem;
        margin: 0;
    }
    .contact .titulo{
        width: 100%;
        padding: 0;
    }
    #imgperfil{
        display: none;
    }
    #divCard{
        background-color: #1c1c1c;
    }
    #tituloProyectosSeccion div{
        top: 30%;
    }
    #textoContacto{
        width: 100%;
        max-width: 500px;
    }
    #textoContacto p{

        font-weight: 300;
        font-size: 1.2rem;
    }
    .contactTextContainer{
        width: 100%;
    }
    .proyectosTodos a{
        background-color: transparent;
    }
    .proyectosTodos h2{
        width: 100%;
        text-align: center;
        background-color: rgba(28, 28, 28, .7);
    }
    .proyectosTodos p{
        display: none;
    }

    .proyectosTodos:hover h2{
        color: #1c1c1c;
        background-color: rgba(28, 28, 28, 0);
    }
}